h1 {
  color: #545B5A;
  font-family: "roboto";
  font-weight: 700;
}

h2 {
  color: #545B5A;
  font-family: "roboto";
  font-weight: 500;
}

h3 {
  color: #545B5A;
  font-family: "roboto";
  font-weight: 500;
}

body {
  background-color: #F8F8FF;
}

a { 
  color: #663399;
}